{% extends 'master/master-admin-logged-in.html' %}
{% block main %}

<div class="app-req-container">
    <div class="app-req-table-container">
      <table class="app-req-table">
        <thead class="app-req-table-header">
          <tr align="center">
            <th scope="col">SNO</th>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Date Time</th>
            <th scope="col">Services</th>
            <th scope="col">Amount</th>
            <th scope="col">Details</th>
            <th scope="col">Request</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody class="app-req-table-body">
          <tr>
            <td>1</td>
            <td>kunaal</td>
            <td>8888888888</td>
            <td>{{ time }}</td>
            <td>Internal Wash</td>
            <td>5000/-</td>
            <td>
                <a href="/view_more">
                    <button class="btn btn-primary">view more</button>
                </a>
            </td>
            <td>Accepted</td>
            <td>
                <a>
                    <button class="btn btn-warning" onclick="willpending()">pending</button>
                </a>
                <a>
                    <button class="btn btn-success" onclick="willcompleted()">completed</button>
                </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}

{% block script %}
<script type="text/javascript">
  function willpending() {
    if (!confirm("Are you sure to make it pending ?")) {
      return false;
    } else {
      return true;
    }
  }
  function willcompleted() {
    if (!confirm("Are you sure to make it completed ?")) {
      return false;
    } else {
      return true;
    }
  }
</script>


{% endblock %}