{% extends 'master/master-customer-logged-in.html' %} {% block main %} 

<div class="sev-req-container">
    <div class="sev-req-table-container">
      <table class="sev-req-table">
        <thead class="sev-req-table-header">
          <tr>
            <th scope="col">SNO</th>
            <th scope="col">DateTime</th>
            <th scope="col">Service Type</th>
            <th scope="col">Amount</th>
            <th scope="col">Request</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody class="sev-req-table-body">
        {% for i in range(size) %}
          <tr>
            <td>{{ snos[i] }}</td>
            <td>{{ times[i] }}s</td>
            <td>Internal Wash</td>
            <td>5000/-</td>
            <td>Accepted</td>
            <td>Pending</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  
{% endblock %}